<app-topbar></app-topbar>

<div ngClass="consolePage"[ngStyle]="{'background-color':'var(--surface-ground)'}">

    
<p-panel>
    <ng-template pTemplate="header">
        Header content here
    </ng-template>

    <ng-template pTemplate="content">
        Body Content
    </ng-template>
 
    <ng-template pTemplate="footer">
        Footer contencdct here
    </ng-template>
</p-panel>



<p-panel ngClass="appsPanel" >
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Body Content
    <ng-template pTemplate="footer">
        Footer content here
    </ng-template>
</p-panel>


</div>
